.quote {
    margin-top: 10%;
}
#new-quote-form {
    margin-top: 5%;
    padding: 5%;
    background: #fbfbfb;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(138,136,138,1);
    -moz-box-shadow: 1px 1px 1px 1px rgba(138,136,138,1);
    box-shadow: 1px 1px 1px 1px rgba(138,136,138,1);
    border-radius: 4px;
}

#quoteTextarea {
    margin-bottom: 24px;
}

#main {
    margin-bottom: 2em;
}