<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container" id="main">
        <form id="new-quote-form">
            <div class="form-group">
                <label for="quoteTextarea">New Quote</label>
                <textarea class="form-control" id="quoteTextarea" name="quoteTextarea" rows="3" placeholder="To be or not to be..."></textarea>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-success">Add</button>
                </div>
            </div>
        </form>
        <div class="row quote" v-for="quote in quotes">
            <div class="col-sm-6 col-md-8">
                <h3>Original Quote</h3>
                <blockquote class="blockquote">
                    <p class="mb-0">{{ quote.original }}</p>
                </blockquote>
                <h3>Stripped Quote</h3>
                <h3>
                    <small class="text-muted">{{ quote.stripped }}</small>
                </h3>
            </div>
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        nouns
                        <span class="badge badge-primary badge-pill">{{ quote.nouns }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        verbs
                        <span class="badge badge-primary badge-pill">{{ quote.verbs }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        periods
                        <span class="badge badge-primary badge-pill">{{ quote.periods }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        you
                        <span class="badge badge-primary badge-pill">{{ quote.you }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        that
                        <span class="badge badge-primary badge-pill">{{ quote.that }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        thing
                        <span class="badge badge-primary badge-pill">{{ quote.thing }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        they
                        <span class="badge badge-primary badge-pill">{{ quote.they }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="webjars/vue/dist/vue.min.js"></script>
    <script src="webjars/axios/dist/axios.min.js"></script>
    <script>
        let app = new Vue({
            el: '#main',
            data() {
                return {
                    quotes: null
                }
            },
            mounted(){
                axios
                    .get('/examinedQuotes')
                    .then(response => {
                        this.quotes = response.data._embedded.examinedQuotes;
                        console.log(this.quotes);
                    });
                const newQuoteForm = document.getElementById('new-quote-form');
                const quoteInput = newQuoteForm.querySelector('textarea[name=quoteTextarea]');
                newQuoteForm.addEventListener('submit', (e) => {
                    e.preventDefault();
                    if(quoteInput.value === undefined || quoteInput.value.trim() === ''){
                        return;
                    }
                    axios
                        .post('/nlp', { "paragraph": quoteInput.value })
                        .then(() => axios.get('/examinedQuotes'))
                        .then(response => {
                            console.log(response);
                            this.quotes = response.data._embedded.examinedQuotes;
                        })
                        .catch(error => console.error(error));

                })
            },
        })
    </script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>